[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
coveralls = "*"

[packages]
requests = "*"
tabulate = "*"
simplejson = "*"
idna = "*"
click = "*"


